
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/MamidiPatientProfileStyleSheet.css" rel="stylesheet" />
    <title>MamidiPatientProfile</title>
</head>
<body>
    <nav id="profilebar" class="navbar-default">
        <div class="row">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("New User Registration", "NewUser", "NewUser")</li>
                <li>@Html.ActionLink("Registered User Login", "RegisteredUser", "RegisteredUser")</li>
            </ul>
        </div>
    </nav>

    <div class="mainDiv">
        @RenderBody()
    </div>
</body>
</html>
